name: TEALScript CI
on:
  pull_request:
    branches: [ main, dev ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Run algokit localnet
      run: pipx install algokit && algokit localnet start

    - name: Install modules
      run: bun install --frozen-lockfile

    - name: Run ESLint
      run: bun lint

    - name: Run webpack smoketest
      run: bun webpack-smoketest

    - name: Run tests
      run: bun test

    - name: Run examples
      run: bun run-examples


